.form-container{
    width: 70%;
    margin: 0 auto;
    padding-top: 10%;
}

.btn-character{
    background-color: #F0F0F0;
    float: right;
}

.asterik-style{
    font-size: 8px;
    color: red;
}

.filled{
    display: none;
}




